<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% seo %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>*
    <link rel="shortcut icon" href="{{ "/assets/img/alumni.ico" | relative_url }}" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
    <title>{{ site.title }}</title>
</head>
<body class="min-h-dvh flex flex-col dark:bg-slate-900 dark:text-slate-50">
    {{ content }}
</body>
</html>